<h1>Users Index</h1>
{{! The context here is the controller}}

<h2>Total users: {{model.length}}</h2>

<table>
  <thead>
    <tr>
      <th scope="column">Name</th>
      <th scope="column">Dogs</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each user in model}}
    <tr>
      <td>{{link-to user.fullName 'users.show.dogs.index' user.id}}</td>
      <td>{{user.dogs.length}}</td>
      <td><a href="#" {{action 'delete' user}}>Delete</a></td>
    </tr>
    {{/each}}
  </tbody>
</table>
{{outlet}}