<form>
  <h2> {{errorMessage}} </h2>

  <fieldset>
    {{input value=model.firstName placeholder='First Name'}}
    {{input value=model.lastName placeholder='Last Name'}}
    {{input value=model.email placeholder='E-mail'}}
{{!-- action helper one of the most useful features in embe; allow us to bind an action in the template to an action in the template's controller or route.

bound to click action by default  --}}
<button {{action "save"}} >Save</button>
<button {{action "cancel"}}>Cancel</button>

</fieldset>
</form>


