<div class="friend profile">
  <p>{{model.firstName}}</p>
  <p>{{model.lastName}}</p>
  <p>{{model.email}}</p>
  <p>{{link-to 'Edit' 'users.edit' model}}</p>
  <p><a href="#" {{action 'delete' model}}>Delete</a></p>
</div>
<div class="dogs-container">
  {{outlet}}
</div>
