<td>{{dog.name}}</td>
<td>{{dog.age}}</td>
<td>{{dog.gender}}</td>
{{!-- content contains available options, one attribute is specified and bound through the attribute selelction.

  If passing a collection of objects, we have to specify the properties option Value Path and optionLabelPath --}}
  <td>{{view 'select' content=dogBreeds selection=dog.breed}} </td>
  <td>
    {{!-- dog.isSaving belongs to dog, and is true if teh model tries to persist any changes to backend --}}
    {{#if dog.isSaving}}
    <p>Saving ...</p>
    {{!-- true if there is a change to the model  --}}
    {{else if dog.isDirty}}
    <button {{action 'saveDog' dog}}>Save</button>
    {{/if}}
  </td>





{{!-- <form>
  <h2>{{errorMessage}}</h2>

  <fieldset>
    {{input value=model.name placeholder='Name'}}<br>
    {{input value=model.age placeholder='Age'}} <br>
    {{input value=model.gender placeholder='Gender'}} <br>
    {{input value=model.breed placeholder='Breed'}} <br>
    
    <button {{action 'save'}} class='primary'>Save</button>
    <button {{action 'cance'}}>Cancel</button>
  </fieldset>
</form>
 --}}