<form>
  <h2>{{errorMessage}}</h2>

  <fieldset>
    {{input value=model.name placeholder='Name'}}<br>
    {{input value=model.age placeholder='Age'}} <br>
    {{input value=model.gender placeholder='Gender'}} <br>
    {{input value=model.breed placeholder='Breed'}} <br>
    <button {{action 'save'}} class='primary'>Save</button>
    <button {{action 'cance'}}>Cancel</button>
  </fieldset>
</form>
